ion-header {
  min-height: 40%;
}

ion-toolbar {
  height: 100%;
  display: flex;
  text-align: -webkit-center;
}

ion-avatar {
  height: 7rem;
  width: 7rem;
  --border-radius: 30%
}

.profile-name {
  font-size: 20px;
  font-weight: 300;
}


.sport-link {
  color: #C05458;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}